{% extends '_master.twig' %}

{% block navbar %}
    {% embed '_navbar.twig' %}
        {% block navActiveAbout %}class="active"{% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    <h1>About Dodgy John's</h1>
    <p>
    Mauris non nulla vel mauris rutrum luctus. Duis sed est in mauris volutpat feugiat et vestibulum nunc. Aliquam eget lorem arcu. Etiam hendrerit aliquet libero. Integer quis varius velit. Etiam sollicitudin et augue quis dignissim. Proin vel diam ante. Curabitur sed fringilla risus. Nulla est enim, tincidunt auctor dui non, suscipit hendrerit elit. Morbi gravida magna et vehicula pretium. Ut in ullamcorper nunc.
    </p>
    <p>
    Praesent tempus, sapien eu vulputate aliquet, dolor odio vestibulum dui, ut euismod nulla diam scelerisque elit. Mauris nec facilisis lacus, vitae congue turpis. Sed et nibh et mi mattis fermentum quis eu nibh. Nulla facilisis velit sit amet laoreet ultrices. Morbi eu justo nec dui sodales volutpat sed a enim. Suspendisse egestas volutpat ipsum at egestas. Fusce ut convallis elit.
    </p>
{% endblock %}
